<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/Estilos/login.css">
</head>

<body>
    <div class="login-div">
        {% if mensaje %}
        <div class="alerta-error">
            {{ mensaje }}
        </div>
        {% endif %}
        <form method="POST" action="/login" class="form-login">
            <h3 style="margin-left: 8.5rem;">Tercer nodo</h3>
            <div class="input-container">
                <input type="text" name="username" class="inp" id="username" placeholder=" " required>
                <label for="username" class="lbl">Usuario</label>
            </div>
            <div class="input-container">
                <input type="password" name="password" class="inp" id="password" placeholder=" " required>
                <label for="password" class="lbl">Contraseña</label>
            </div>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</body>

</html>